rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match all users collection
    match /users/{userId} {
      // Ensure the user is authenticated and can only access their own data
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Users can only access their own body parts settings
      match /settings/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      // Users can only access their own workouts
      match /workouts/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
